html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


#ProjectMenu{
  font-family:Arial, Helvetica, sans-serif;
  font-size: x-large;
}



#map {   
  height: 1100px;
}

#mapPopup {
  font-family: 'Courier New', Courier, monospace;
}